hikari>=2.0.0.dev108
hikari-lightbulb>=2.2.1
python-dotenv>=0.19.2
uvloop>=0.16; sys_platform != "win32"
aiohttp>=3.8.1
SQLAlchemy>=1.4.37
psycopg2>=2.9.3
lightbulb-ext-tungsten>=0.1
lavasnek-rs>=0.1.0a5